# Deel 1 : Productieproces
## Imports, Directories

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
import scipy.stats
import os
import json

In [2]:
dirnb = os.getcwd()
print(dirnb)
dirscripts = os.path.join(os.path.dirname(os.getcwd()), "Scripts")
print(dirscripts)
dirbru = os.path.join(os.path.dirname(os.getcwd()), "Data\Input\Data_productie\Daily_production\BRU")
print(dirbru)
dirsto = os.path.join(os.path.dirname(os.getcwd()), "Data\Input\Data_productie\Daily_production\STO")
print(dirsto)

C:\Users\BE76820\OneDrive - AGC\Documents\Syntra 2023-2024\Adinda DS Werkplaats\10ter GIT Statistiek Opdracht\Notebooks
C:\Users\BE76820\OneDrive - AGC\Documents\Syntra 2023-2024\Adinda DS Werkplaats\10ter GIT Statistiek Opdracht\Scripts
C:\Users\BE76820\OneDrive - AGC\Documents\Syntra 2023-2024\Adinda DS Werkplaats\10ter GIT Statistiek Opdracht\Data\Input\Data_productie\Daily_production\BRU
C:\Users\BE76820\OneDrive - AGC\Documents\Syntra 2023-2024\Adinda DS Werkplaats\10ter GIT Statistiek Opdracht\Data\Input\Data_productie\Daily_production\STO

## Run Scripts

In [3]:
# Temporary set "dirscripts" as "cwd" and Execute Scripts
os.chdir(dirscripts)
os.getcwd()

'C:\\Users\\BE76820\\OneDrive - AGC\\Documents\\Syntra 2023-2024\\Adinda DS Werkplaats\\10ter GIT Statistiek Opdracht\\Scripts'

In [4]:
os.listdir()

['.gitkeep', 'df_from_json_files.py']

In [5]:
##### %run scripts

## Read Production Data BRU & STO

In [6]:
# Functie die DataFrame "df" creÃ«ert vanuit .json files die zich in een folder "directory" bevinden

def df_from_json_files (directory) :
    
    data_list = []

    for file in os.listdir(directory) :
        with open(file) as file:
            data = json.loads(file.read())
        data_list.append(data)

    df = pd.DataFrame(data_list)
    return df

In [7]:
# Temporary set "dirbru" as "cwd" and Create dfbru
os.chdir(dirbru)
dfbru = df_from_json_files (dirbru)
dfbru.head()

,DoW,hour,minute,date,maintenance,prod_loss,prod_loss_perc,production
0,Monday,1,0,01-01-2018 00:00:00.0000,No,61,5,1183
1,Tuesday,1,0,01-02-2018 00:00:00.0000,No,106,9,1138
2,Wednesday,1,0,01-03-2018 00:00:00.0000,No,129,10,1115
3,Thursday,1,0,01-04-2018 00:00:00.0000,No,278,22,966
4,Friday,1,0,01-05-2018 00:00:00.0000,No,218,17,1026

In [8]:
# Temporary set "dirsto" as "cwd" and Create dfsto
os.chdir(dirbru)
dfsto = df_from_json_files (dirsto)
dfsto.head()

,DoW,hour,minute,date,maintenance,prod_loss,prod_loss_perc,production
0,Monday,1,0,01-01-2018 00:00:00.0000,No,61,5,1183
1,Tuesday,1,0,01-02-2018 00:00:00.0000,No,106,9,1138
2,Wednesday,1,0,01-03-2018 00:00:00.0000,No,129,10,1115
3,Thursday,1,0,01-04-2018 00:00:00.0000,No,278,22,966
4,Friday,1,0,01-05-2018 00:00:00.0000,No,218,17,1026

In [9]:
# Set back "dirnb" as "cwd"
os.chdir(dirnb)
os.getcwd()

'C:\\Users\\BE76820\\OneDrive - AGC\\Documents\\Syntra 2023-2024\\Adinda DS Werkplaats\\10ter GIT Statistiek Opdracht\\Notebooks'